 <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-sm-8 mb-3 mb-md-0">

          <!--Card-->
          <div class="card">

            <!--Card content-->
               <h5 class="card-header h5">Select your payment option</h5>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-sm-12">

          <!-- Heading -->
                  <h4 class="d-flex justify-content-between align-items-center mb-3">

                  </h4>
            <%= form_tag("/transactions", method: "post", id: "payment-form") do %>
              <section>
                <!--<label for="amount">
                  <span class="input-label">Amount</span>
                  <div class="input-wrapper amount-wrapper">
                    <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="10">
                  </div>
                </label> -->

                <div class="bt-drop-in-wrapper">
                  <div id="bt-dropin"></div>
                </div>
              </section>

              <input type="hidden" id="nonce" name="payment_method_nonce" />
              <button class="button" type="submit"><span>Test Transaction</span></button>
            <% end %>


          <!-- Cart -->
        </div>
        <!--Grid column-->
              </div>
              <!--Grid row-->

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <!-- Cart -->
                   Add order summery
          <!-- Cart -->
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

<script src="https://js.braintreegateway.com/web/dropin/1.25.0/js/dropin.min.js"></script>
<script>
  var form = document.querySelector('#payment-form');
  var client_token = "<%= @client_token %>";

  braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin',
    paypal: {
      flow: 'vault'
    }
  }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }

        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
</script><%= javascript_include_tag 'application', 'data-turbolinks-suppress-warning' => true, 'data-turbolinks-track' => true %>
